
.idea/codeStyleSettings.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/Maven__junit_junit_3_8_1.xml

.idea/encodings.xml

target/classes/morpion/App.class

*.class

target/surefire-reports/morpion.AppTest.txt

target/surefire-reports/morpion.entities.CaseTest.txt

target/surefire-reports/TEST-morpion.AppTest.xml

target/surefire-reports/TEST-morpion.entities.CaseTest.xml

target/*

.idea/uiDesigner.xml
